@model IEnumerable<shauliTask3.Models.Post>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.postWriter)
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PostTitle)
        </td>

    </tr>
}

</table>
