@model IEnumerable<dynamic>
@using System.Reflection;


<table class="table">
    <tr>
        <th>
           Writer Name
        </th>
        <th>
            posts
        </th>

    </tr>

@foreach (dynamic d in Model)
{
    var postWriter = d.GetType().GetProperty("PostWriter").GetValue(d);
    var count = d.GetType().GetProperty("c").GetValue(d);

        <tr>
            <td>
                @postWriter
            </td>
            <td>
                @count
            </td>

        </tr>
}
</table>


