@model IEnumerable<shauliTask3.Models.Maps>
@using shauliTask3.Models;

@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>

        <div class="col-md-5">



            @{ 
                List<Maps> mofo = new List<Maps>();

                foreach (var item in Model)
                {

                    mofo.Add(item);
                }
            }
            <html>
            <head>
                <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
                <meta charset="utf-8">
                <title>Marker Clustering</title>
                @*<style>
                  /* Always set the map height explicitly to define the size of the div
                    * element that contains the map. */
                                 #map {
                                     height: 100%;
                                 }
                                 /* Optional: Makes the sample page fill the window. */
                                 html, body {
                                     height: 100%;
                                     margin: 0;
                                     padding: 10%;
                                 }
                </style>*@
            </head>
            <body>
                <div class="fb-comments" data-href="https://www.facebook.com/Shauli-118833822143038/" data-numposts="5"></div>
                @*<div class="fb-page" data-href="https://www.facebook.com/Shauli-118833822143038/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Shauli-118833822143038/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Shauli-118833822143038/">Shauli</a></blockquote></div>*@
                <div id="map"></div>

            </body >
        </html >
        </div >
<script src="~/Scripts/maps.js"></script>
<script src="~/Scripts/weather.js"></script>
<script src="~/Scripts/facebook.js"></script>

